:root {
    --spacing-container-top: 7.389vh;
    --spacing-container-left: 9.6vw;
    --spacing-container-bottom: 2.709vh;
    --spacing-container-right: 9.6vw;

    --spacing-very-small: 6px;
    --spacing-small: 20px;
    --spacing-big: 70px;
    --spacing-very-big: 140px;
}