.featured-braven {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    padding-bottom: var(--spacing-very-big);
    padding-left: 32px;
}

.featured-braven > .action {
    display: block;
    position: relative;
    text-indent: -9999px;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    border: 3px solid var(--color-primary);
    transition: transform 200ms linear, background-color 200ms linear;
    z-index: 2;
}

.featured-braven > .action::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0px;
    height: 0px;
    border-top: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 18px solid var(--color-primary);
    transform: translate(-20%, -50%);
}

.featured-braven > .action:hover,
.featured-braven > .action:focus {
    transform: scale(1.05);
    background-color: var(--color-zero-light);
} 

.featured-braven > .title {
    display: inline-block;
    font-size: 1.176em;
    font-weight: 900;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--color-primary);
    transform-origin: left top;
    transform: rotate(-90deg) translate(-100px, 30px);
}

.featured-braven > .subtitle {
    font-weight: 900;
    font-style: italic;
    font-size: 1.7rem;
    color: var(--color-secondary);
}

.featured-braven > .subtitle > strong {
    display: block;
    font-size: 2.5rem;
    color: var(--color-primary);
}

.featured-braven > .subtitle > small {
    font-size: 1rem;
    color: var(--color-primary-light);
    letter-spacing: 0.029em;
}

.featured-braven > .subtitle > .star {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    background-image: url('../../img/star.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}
