.header-breaven {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-big);
}

.header-breaven > .title {
    font-size: 1.76em;
    text-transform: uppercase;
    color: var(--color-zero);
    letter-spacing: 1.2rem;
}